server:
  address: 0.0.0.0
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:carekeeperdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        webAllowOthers: true
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${APP_USERNAME}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
logging:
  level:
    root: INFO
    com.example.carekeeper: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework: INFO
